<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>woebegone</span>
    </mat-toolbar>
    <div class="content" layout="row" layout-align="center center">
      <div class="panel panel-left">
        <app-calc-screen></app-calc-screen>
        <app-calc-keypad></app-calc-keypad>
      </div>
      <div class="vertical-break"></div>
      <div class="panel panel-right">
        <button class="action-button" mat-stroked-button [disabled]="!quickMathService.enableCallButton" (click)="call()">
          Surprise me
        </button>
        <app-calc-links [jsonData]="jsonData"></app-calc-links>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>