@import "../shared/variables";

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.content{
  padding-top: 100px; 
  max-width: 200px;
  display: INLINE-FLEX;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
:host /deep/ .mat{
  &-list{
    &-item{
      width: 300px !important;
    }    
  }
}

.keypad{
  &-button{    
    border: skyblue 1px solid;
    margin: 5px;
    min-width: 35px;
    width: 100%;
    &-symbol{
      &.equals{
        &.enabled{
          color: white;
          background-color: $primary;
        }
        &.disabled{
          color: $dark;
          background-color: $gray;
        }
      }
      background-color: lighten($gray, 30%);
    }
  }
}