@import "../shared/variables";
@import "../shared/animations";
@import "../shared/common";

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.content{
  padding-top: 100px; 
  max-width: 200px;
  display: INLINE-FLEX;
  position: absolute;
  top: 50%;
  left: 35%;
  font-size: 24px;
  transform: translate(-50%, -50%);
}
:host /deep/ .mat{
  &-list{
    flex-grow: 1;
    border: skyblue 1px solid;
    min-height: 300px;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: 5px;
    margin-top: 10px;
    @include scrollbars(.5em, slategray);
    margin-left: 5px;
    &-item{
      width: 300px !important;
    }    
  }
}

.keypad{
  &-button{    
    border: skyblue 1px solid;
    margin: 5px;
    min-width: 300px;
    width: 100%;
    &-symbol{
      &.equals{
        margin-left: 5px;
        &:enabled{
          color: white;
          background-color: $primary;
          @include pulseBorder;
        }
        &:disabled{
          color: $dark;
          background-color: $gray;
        }
      }
      background-color: lighten($gray, 30%);
    }
  }
}

.action{
  &-button{    
    border: skyblue 1px solid;
    min-width: 300px;
    width: 100%;
    margin-left: 5px;
    margin-bottom: 15px;
    &:enabled{
      color: white;
      background-color: $primary;
      @include pulseBorder;
    }
    &:disabled{
      color: $dark;
      background-color: $gray;
    }
    background-color: lighten($gray, 30%);
  }
}