<div class="card-list">
  <mat-card *ngFor="let folder of links">
    <mat-card-header>
    <mat-card-title mat-line><a href="{{folder.link}}" target="_blank">{{folder.name}}</a></mat-card-title>
    <mat-card-subtitle mat-line> {{folder.updated | date}} {{folder.updated | date:'shortTime'}} </mat-card-subtitle>    
    <br/>
    </mat-card-header>
    <mat-card-actions>
      <div class="tag" [ngClass]="folder.nsfw ? 'nsfw' : ''" label="Favorite">{{folder.tag}}</div>
    </mat-card-actions>
  </mat-card>
  <mat-divider></mat-divider>
</div>