@import "../shared/_variables.scss";

.calc-links{
    text-align: left; 
    max-width: 150px;
    border: skyblue 3px solid;
}

.mat-list{
  &-icon {
    color: $gray;
  }
  &-item{
    box-shadow: $gray 2px 2px 2px ;
    margin-bottom: 20px;
    margin: 2px;
    .tag{
      color: white;
      background: $gray;
      margin: 1px;
      border-radius: 15px;
      line-height: 10px;
      font-size: 10px;
      padding: 3px;
      &.nsfw{
        background: $danger;
      }
    }
  } 
}