@import "../shared/_variables.scss";

.calc-links{
    text-align: left; 
    max-width: 150px;
    border: skyblue 3px solid;
}

.card-list{  
  max-height: $section-height;
  min-height: $section-height;
  overflow-y: scroll;
  overflow-x: hidden;
}

.mat-card{
  min-width: $card-width;
  max-width: $card-width;
  display: inline-flex;
  box-shadow: $gray 2px 2px 2px ;
  margin-bottom: 20px;
  margin: 2px;
  &-title{
    width: 200px; 
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .tag{
    color: white;
    background: $gray;
    margin: 1px;
    border-radius: 15px;
    line-height: 10px;
    font-size: 10px;
    padding: 3px;
    &.nsfw{
      background: $danger;
    }
  }
  a {
    font-size: $font-size;
    line-height: $font-size;
    color: $purple;
  }
}