<mat-list>
  <h3 mat-subheader>Links</h3>
  <mat-list-item *ngFor="let folder of folders">
    <a href="{{folder.link}}">
      <mat-icon>link</mat-icon>
    </a>
    <h4 mat-line><a href="{{folder.link}}">{{folder.name}}</a></h4>
    <p mat-line> {{folder.updated | date}} </p>    
    <br/>
    <button mat-button disabled label="Favorite">
      <p>{{folder.tag}}</p>
    </button>
    <button *ngIf="folder.nsfw" mat-button disabled label="Favorite" class="nsfw">
      <mat-icon>warning</mat-icon>
    </button>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>