<div>
  <div id="keypad-row">
    <div (click)="click('7')">7</div>
    <div (click)="click('8')">8</div>
    <div (click)="click('9')">9</div>
    <div (click)="click('÷')">÷</div>
  </div>
  <div id="keypad-row">
    <div (click)="click('4')">4</div>
    <div (click)="click('5')">5</div>
    <div (click)="click('6')">6</div>
    <div (click)="click('×')">×</div>
  </div>
  <div id="keypad-row">
    <div (click)="click('1')">1</div>
    <div (click)="click('2')">2</div>
    <div (click)="click('3')">3</div>
    <div (click)="click('-')">-</div>
  </div>
  <div id="keypad-row">
    <div (click)="click('0')">0</div>
    <div (click)="click('.')">.</div>
    <div (click)="click('=')">=</div>
    <div (click)="click('+')">+</div>
  </div>
  <div id="keypad-row">
    <div (click)="click('CE')">CE</div>
  </div>
</div>