@import "../shared/variables";

#keypad-row div {
    display: inline;
    margin: 1em 1em 1em 1em;
    width: 30%;
    border-radius: 5px;
    margin-bottom: 5px;
}

.keypad{
  &-button{    
    border: skyblue 3px solid;
    margin: 5px;
  }
}