<table class="keypad-table">
  <tbody>
      <tr id="keypad-row">
        <td>
          <button class="keypad-button keypad-button-symbol" mat-stroked-button (click)="click('(')">(</button>
        </td>
        <td>
          <button class="keypad-button keypad-button-symbol" mat-stroked-button (click)="click(')')">)</button>
        </td>
        <td>
          <button class="keypad-button keypad-button-symbol" mat-stroked-button (click)="click('%')">%</button>
        </td>
        <td>
          <button class="keypad-button keypad-button-symbol" mat-stroked-button (click)="click('AC')">AC</button>
        </td>
      </tr>
    <tr id="keypad-row">
      <td>
        <button class="keypad-button" mat-stroked-button (click)="click('7')">7</button>
      </td>
      <td>
        <button class="keypad-button" mat-stroked-button (click)="click('8')">8</button>
      </td>
      <td>
        <button class="keypad-button" mat-stroked-button (click)="click('9')">9</button>
      </td>
      <td>
        <button class="keypad-button keypad-button-symbol" mat-stroked-button (click)="click('/')">÷</button>
      </td>
    </tr>
    <tr id="keypad-row">
      <td>
        <button class="keypad-button" mat-stroked-button (click)="click('4')">4</button>
      </td>
      <td>
        <button class="keypad-button" mat-stroked-button (click)="click('5')">5</button>
      </td>
      <td>
        <button class="keypad-button" mat-stroked-button (click)="click('6')">6</button>
      </td>
      <td>
        <button class="keypad-button keypad-button-symbol" mat-stroked-button (click)="click('*')">×</button>
      </td>
    </tr>
    <tr id="keypad-row">
      <td>
      <button class="keypad-button" mat-stroked-button (click)="click('1')">1</button>
      </td>
      <td>
        <button class="keypad-button" mat-stroked-button (click)="click('2')">2</button>
      </td>
      <td>
        <button class="keypad-button" mat-stroked-button (click)="click('3')">3</button>
      </td>
      <td>
        <button class="keypad-button keypad-button-symbol" mat-stroked-button (click)="click('-')">-</button>
      </td>
    </tr>
    <tr id="keypad-row">
      <td>
        <button class="keypad-button" mat-stroked-button (click)="click('0')">0</button>
      </td>
      <td>
        <button class="keypad-button keypad-button-symbol" mat-stroked-button (click)="click('.')">.</button>
      </td>
      <td>
        <button class="keypad-button keypad-button-symbol equals" mat-stroked-button (click)="click('=')">=</button>
      </td>
      <td>
        <button class="keypad-button keypad-button-symbol" mat-stroked-button (click)="click('+')">+</button>
      </td>
    </tr>
  </tbody>
</table>
